---
import photo from "../images/avatar-nobg.png";
import PageHeader from "../components/page-header.astro";
import Layout from "~/layouts/layout.astro";

const metas = {
  title: "About::Atila",
};

export const prerender = true;
---

<Layout metas={metas}>
  <header class="w-11/12 mx-auto max-w-7xl">
    <PageHeader title="About: Atila" />
    <strong class="block mb-16 text-3xl text-slate-400">
      Sharing what I learn and trying to make coding simpler.
    </strong>
  </header>
  <div class="w-11/12 mx-auto max-w-7xl">
    <article class="mt-8 text-2xl leading-8 max-w-prose">
      <p class="mb-8">
        I'm a self-taught developer originally from Brazil and currently living
        in Germany. Pushing code since 2011, I have worked in teams of every
        size and across 3 different continents.
      </p>
      <div
        class="inline-block w-48 p-2 mb-8 ml-8 overflow-hidden rounded-lg md:float-right bg-gradient-to-tr from-amber-300 via-rose-400 to-indigo-400"
      >
        <img
          class="dark:bg-black bg-zinc-200 rounded-md"
          src={photo}
          alt="Atila Fassina"
        />
      </div>
      <p class="mb-8">
        Content creation is a driving force and my favourite learning strategy.
        I write articles on{" "}
        <a
          href="https://smashingmagazine.com/author/atila-fassina/"
          target="_blank"
          rel="noopener noreferrer"
          title="Atila's author page on Smashing Magazine"
          class="dark:text-amber-200 text-amber-500 hover:underline hover:decoration-dotted hover:underline-offset-2"
        >
          Smashing Magazine
        </a>
        , speak at meetups and conferences both online and offline, and record a
        code-related videos. I am particularly interested in Serverless, Developer
        Tooling, and the React ecosystem.
      </p>
      <p class="mb-8">
        I work as Senior Developer Experience Engineer at{" "}
        <a
          href="https://xata.io"
          target="_blank"
          rel="noopener noreferrer"
          title="Xata: Think data, not databases"
          class="dark:text-rose-300 text-pink-600 hover:underline hover:decoration-dotted hover:underline-offset-2"
        >
          Xata
        </a>
        . Creating the best developer experience for Serverless Databases ever. I’m
        lucky part of my work is connecting with amazing people in Developer Communities,
        so if you have meetup, conference, podcast, or just want to chat: do it!
      </p>
      <p class="mb-8">
        The fastest way to find me is via{" "}
        <a
          href="https://twitter.com/atilafassina/"
          target="_blank"
          rel="noopener noreferrer"
          title="Atila's twitter profile"
          class="dark:text-blue-200 text-cyan-500 hover:underline hover:decoration-dotted hover:underline-offset-2"
        >
          twitter
        </a>{" "}
        direct or public message.
      </p>
    </article>
  </div>
</Layout>
