---
import avatar from "../images/avatar-nobg.png";
---

<header
  class="grid grid-rows-2 my-16 lg:grid-cols-2 sm:my-0 lg:gap-x-14 lg:items-end lg:grid-rows-1 place-items-center lg:relative lg:-right-14"
>
  <div
    class="flex flex-col h-full text-center gap-y-3 lg:text-left animate-blur-in"
  >
    <h1>
      <svg
        class="text-white sm:w-[411px] pb-4"
        viewBox="0 0 411 68"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M374.259 46.1378C374.259 34.5899 382.262 25.2442 392.091 25.2442C401.92 25.2442 409.923 34.5899 409.923 46.1378C409.923 57.6857 401.92 67.0314 392.091 67.0314C382.262 67.0314 374.259 57.6857 374.259 46.1378ZM376.031 46.1378C376.031 56.5041 383.229 64.9367 392.091 64.9367C400.953 64.9367 408.151 56.5041 408.151 46.1378C408.151 35.7716 400.953 27.3389 392.091 27.3389C383.229 27.3389 376.031 35.7716 376.031 46.1378Z"
        ></path>
        <path d="M408.473 25.4053H410.353V66.2795H408.473V25.4053Z"></path>
        <path
          d="M370.66 66.1721H369.103V43.8283C369.103 37.92 368.297 33.6769 366.686 30.9913C365.074 28.3057 362.442 26.963 358.844 26.963C356.856 26.963 354.977 27.2852 353.097 27.9835C351.217 28.6817 349.444 29.6485 347.887 30.8839C346.275 32.1192 344.879 33.5694 343.697 35.2882C342.516 37.0069 341.656 38.8331 341.065 40.7667V66.1721H339.454V25.9962H341.012V36.3624C341.817 34.7511 342.892 33.3009 344.181 31.9044C345.47 30.5616 346.866 29.38 348.424 28.4132C349.981 27.4464 351.646 26.6944 353.365 26.1573C355.138 25.6202 356.91 25.3516 358.683 25.3516C362.818 25.3516 365.826 26.8555 367.76 29.8097C369.693 32.7638 370.606 37.4366 370.606 43.7745V66.1721H370.66Z"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M329.303 17.3487V20.1954H331.183V17.3487H329.303ZM329.303 24.0089V66.2258H331.183V24.0089H329.303Z"
        ></path>
        <path
          d="M309.43 67.0851C303.145 67.0851 298.043 64.883 294.068 60.5324L295.25 59.5119C297.345 61.5529 299.493 63.0568 301.749 64.0236C304.005 64.9904 306.583 65.4738 309.483 65.4738C313.458 65.4738 316.734 64.6144 319.205 62.8957C321.676 61.1769 322.911 58.7599 322.911 55.6447C322.911 54.1945 322.589 53.0128 321.998 52.046C321.353 51.0792 320.494 50.2736 319.259 49.5753C318.077 48.8771 316.573 48.2863 314.854 47.8029C313.082 47.3195 311.095 46.7823 308.892 46.2989C306.69 45.7618 304.81 45.2784 303.199 44.8487C301.588 44.4191 300.245 43.8282 299.224 43.1837C298.15 42.4855 297.345 41.6798 296.807 40.6593C296.27 39.6388 296.002 38.3497 296.002 36.7384C296.002 34.6974 296.378 32.9786 297.183 31.5821C297.935 30.1319 299.01 29.004 300.299 28.0372C301.588 27.1241 303.092 26.4258 304.81 25.9962C306.529 25.5665 308.355 25.3516 310.235 25.3516C313.512 25.3516 316.305 25.8887 318.56 27.0167C320.87 28.1446 322.481 29.5411 323.341 31.1524L321.944 31.797C320.977 30.1856 319.366 28.9503 317.11 28.1446C314.908 27.3389 312.491 26.9092 309.859 26.9092C308.194 26.9092 306.637 27.0704 305.133 27.4464C303.629 27.8223 302.286 28.3594 301.158 29.1651C300.03 29.9171 299.117 30.9376 298.472 32.1729C297.828 33.4083 297.506 34.8585 297.506 36.5772C297.506 37.92 297.721 39.0479 298.15 39.8536C298.58 40.713 299.278 41.4112 300.191 42.0021C301.104 42.5929 302.34 43.0763 303.79 43.4523C305.24 43.8819 306.959 44.3116 308.892 44.795C311.256 45.3859 313.458 45.923 315.391 46.4064C317.325 46.9435 318.99 47.588 320.279 48.34C321.622 49.0919 322.642 50.0587 323.341 51.1867C324.093 52.3146 324.415 53.7111 324.415 55.4835C324.415 57.256 324.039 58.8136 323.341 60.2638C322.589 61.714 321.622 62.8957 320.333 63.9162C319.044 64.9367 317.433 65.6886 315.606 66.2258C313.726 66.8166 311.685 67.0851 309.43 67.0851Z"
        ></path>
        <path
          d="M275.377 67.0851C269.093 67.0851 263.99 64.883 260.015 60.5324L261.197 59.5119C263.292 61.5529 265.44 63.0568 267.696 64.0236C269.952 64.9904 272.53 65.4738 275.43 65.4738C279.405 65.4738 282.681 64.6144 285.152 62.8957C287.623 61.1769 288.858 58.7599 288.858 55.6447C288.858 54.1945 288.536 53.0128 287.945 52.046C287.301 51.0792 286.441 50.2736 285.206 49.5753C284.024 48.8771 282.52 48.2863 280.802 47.8029C279.029 47.3195 277.042 46.7823 274.84 46.2989C272.637 45.7618 270.758 45.2784 269.146 44.8487C267.535 44.4191 266.192 43.8282 265.172 43.1837C264.097 42.4855 263.292 41.6798 262.755 40.6593C262.217 39.6388 261.949 38.3497 261.949 36.7384C261.949 34.6974 262.325 32.9786 263.131 31.5821C263.883 30.1319 264.957 29.004 266.246 28.0372C267.535 27.1241 269.039 26.4258 270.758 25.9962C272.476 25.5665 274.302 25.3516 276.182 25.3516C279.459 25.3516 282.252 25.8887 284.508 27.0167C286.817 28.1446 288.429 29.5411 289.288 31.1524L287.891 31.797C286.925 30.1856 285.313 28.9503 283.057 28.1446C280.855 27.3389 278.438 26.9092 275.806 26.9092C274.141 26.9092 272.584 27.0704 271.08 27.4464C269.576 27.8223 268.233 28.3594 267.105 29.1651C265.977 29.9171 265.064 30.9376 264.42 32.1729C263.775 33.4083 263.453 34.8585 263.453 36.5772C263.453 37.92 263.668 39.0479 264.097 39.8536C264.527 40.713 265.225 41.4112 266.138 42.0021C267.052 42.5929 268.287 43.0763 269.737 43.4523C271.187 43.8819 272.906 44.3116 274.84 44.795C277.203 45.3859 279.405 45.923 281.339 46.4064C283.272 46.9435 284.937 47.588 286.226 48.34C287.569 49.0919 288.59 50.0587 289.288 51.1867C289.986 52.3146 290.362 53.7111 290.362 55.4835C290.362 57.256 289.986 58.8136 289.288 60.2638C288.536 61.714 287.569 62.8957 286.28 63.9162C284.991 64.9367 283.38 65.6886 281.553 66.2258C279.62 66.8166 277.579 67.0851 275.377 67.0851Z"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M235.093 25.2442C225.264 25.2442 217.261 34.5899 217.261 46.1378C217.261 57.6857 225.264 67.0314 235.093 67.0314C242.424 67.0314 248.738 61.8335 251.475 54.4007V66.2795H253.355V25.4053H251.475V37.8538C248.747 30.4323 242.457 25.2442 235.093 25.2442ZM235.093 64.9367C226.231 64.9367 219.034 56.5041 219.034 46.1378C219.034 35.7716 226.231 27.3389 235.093 27.3389C243.956 27.3389 251.153 35.7716 251.153 46.1378C251.153 56.5041 243.956 64.9367 235.093 64.9367Z"
        ></path>
        <path
          d="M251.046 0H180.308V1.87989H192.125V31.2061H180.308V33.086H192.125V66.2795H194.004V33.086H214.898V31.2061H194.004V1.87989H251.046V0Z"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M137.769 25.2442C127.94 25.2442 119.937 34.5899 119.937 46.1378C119.937 57.6857 127.94 67.0314 137.769 67.0314C145.099 67.0314 151.414 61.8335 154.151 54.4007V66.2795H156.031V25.4053H154.151V37.8749C151.414 30.4421 145.099 25.2442 137.769 25.2442ZM137.769 64.9367C128.907 64.9367 121.709 56.5041 121.709 46.1378C121.709 35.7716 128.907 27.3389 137.769 27.3389C146.631 27.3389 153.829 35.7716 153.829 46.1378C153.829 56.5041 146.631 64.9367 137.769 64.9367Z"
        ></path>
        <path
          d="M107.261 0.59082H109.141V59.0822C109.141 60.9084 109.678 62.3049 110.806 63.3791C111.934 64.4533 113.438 64.9904 115.264 64.9904C115.962 64.9904 116.768 64.9367 117.735 64.7756C118.702 64.6144 119.561 64.3996 120.42 64.1847L121.065 65.6887C120.205 66.0109 119.131 66.2795 117.842 66.4943C116.553 66.7092 115.479 66.8166 114.619 66.8166C112.417 66.8166 110.645 66.1183 109.302 64.7219C107.906 63.3254 107.261 61.4455 107.261 59.1896V0.59082Z"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M94.9075 11.1182V13.9649H96.7874V11.1182H94.9075ZM94.9075 17.7784V66.2258H96.7874V17.7784H94.9075Z"
        ></path>
        <path
          d="M86.7434 64.2384C85.8303 64.883 84.9709 65.3127 84.1653 65.6349C83.3596 65.9572 82.4465 66.2258 81.426 66.548C80.3518 66.8166 79.1701 66.9777 77.8811 66.9777C75.6252 66.9777 73.6379 66.2795 71.9729 64.9367C70.3078 63.5402 69.4484 61.7677 69.4484 59.5119V19.7657H64.2922V17.8858H69.4484V0.913086H71.3283V17.8858H89.9124V19.7657H71.3283V59.5119C71.4357 61.3381 72.1877 62.7345 73.4768 63.7013C74.7658 64.6681 76.2697 65.1515 77.8811 65.1515C78.9553 65.1515 79.9221 65.0441 80.8889 64.8293C81.802 64.6144 82.6614 64.3459 83.3596 64.0773C84.0578 63.8088 84.6487 63.5402 85.0246 63.2716C85.4543 63.0031 85.6692 62.842 85.7229 62.7882L86.7434 64.2384Z"
        ></path>
        <path
          d="M50.1951 49.5216L57.7931 66.924H59.7267L52.1537 49.5216H62.3049V47.6417H51.3356L30.8839 0.644531H28.8428L0 66.924H2.04102L29.8634 2.95411L49.3743 47.6417H27.7149V49.5216H50.1951Z"
        ></path>
      </svg>
      <span class="sr-only">Atila Fassina</span>
    </h1>
    <h2 class="text-3xl text-slate-400">Senior DX Engineer at Xata</h2>
    <strong class="text-2xl text-slate-400">making code simpler</strong>
  </div>
  <div
    class="block w-48 h-48 border-4 rounded-full overflow-hidden bg-gradient-to-tr from-red-500 via-orange-500 to-amber-500 border-red-500"
  >
    <img class="rounded-full" src={avatar} alt="Atila's face" />
  </div>
</header>
