---
import avatar from "../images/avatar-nobg.png";
import AtilaFassina from "./icons/atila-fassina.astro";
---

<header
  class="grid grid-rows-2 mt-16 px-5 lg:grid-cols-2 sm:my-0 lg:gap-x-14 lg:items-end lg:grid-rows-1 place-items-center lg:relative lg:-right-14"
>
  <div
    class="flex flex-col h-full text-center gap-y-3 lg:text-left animate-blur-in"
  >
    <h1
      class="dark:hover:bg-zinc-400 hover:bg-zinc-800 -ml-3 pt-3 px-3 rounded-sm dark:text-white text-zinc-800 dark:hover:text-black hover:text-white hover:transform hover:-rotate-6 transition-all"
    >
      <AtilaFassina class="sm:w-[411px] pb-4" />
      <span class="sr-only">Atila Fassina</span>
    </h1>
    <h2
      class="text-3xl dark:text-slate-400 hover:transform hover:translate-x-2 transition-all"
    >
      Developer Experience Engineer
    </h2>
    <strong
      class="hidden sm:block text-2xl dark:text-slate-200 text-slate-600 hover:transform hover:-rotate-6 transition-all"
      >making code simpler</strong
    >
  </div>
  <div
    class="block hover:animate-half-spin animate-bkg-fast-move bg-[length:400px_400px] w-48 h-48 bkg-move border-4 rounded-full overflow-hidden bg-gradient-to-tr from-red-500 via-orange-500 to-amber-500 border-red-500"
  >
    <img class="rounded-full" src={avatar} alt="Atila's face" />
  </div>
</header>
