---
import { getCardBorder } from "~/lib/get-card-border";
import type { ArticlePlatformType, TalkType } from "../lib/schemas";
type Props = {
  title: string;
  description: string;
  platform: ArticlePlatformType | TalkType;
  url: string;
  publishAt: string;
};

const {
  title,
  description,
  platform,
  url,
  published_at: publishAt,
} = Astro.props;
---

<li
  class={` cta-hover-sm p-2 rounded-lg bg-gradient-to-tr ${getCardBorder(
    platform
  )}`}
>
  <div class="p-6 dark:bg-black bg-zinc-50 rounded-md h-[100%]">
    <div class="flex justify-between">
      {
        typeof publishAt === "string" && (
          <time
            class="font-mono text-lg text-slate-400"
            datetime={new Date(publishAt).toISOString()}
          >
            {publishAt}
          </time>
        )
      }
    </div>
    {
      typeof url === "string" && (
        <h2 class="mt-6 mb-3 text-2xl sm:text-3xl leading-snug hover:underline hover:decoration-dotted hover:decoration-slate-500">
          <a href={url} rel="noopener noreferrer" target="_blank">
            {title}
          </a>
        </h2>
      )
    }
    <p
      class="mt-2 text-md sm:text-xl leading-8 dark:text-slate-300 text-slate-600"
    >
      {description}
    </p>
  </div>
</li>
