---
import A from "./icons/a.astro";
import ThemeToggler from "./theme-toggler.astro";

const items = ["Channel", "Talks", "Writing", "About"]; //, 'Uses']
const activeStyle = (isActive: boolean) => (isActive ? "text-orange-500" : "");

const pathname = new URL(Astro.request.url).pathname;
---

<nav
  class="sm:hidden z-50 w-full pt-7 pb-5 fixed top-0 dark:bg-black bg-zinc-100"
>
  <div class="absolute right-3 top-3 z-50">
    <ThemeToggler />
  </div>
  <div class="absolute transform -translate-x-1/2 left-2/4 top-0 z-50">
    <a href="/">
      <A class="w-10 h-10" />
    </a>
  </div>
  <input type="checkbox" id="menu-trigger" class="hidden" />
  <label
    for="menu-trigger"
    class="w-7 h-4 z-50 fixed top-3 left-3 flex flex-col items-center justify-between rounded-md focus:outline-none focus:ring-2 focus:ring-inset dark:focus:ring-white focus:ring-black"
    aria-controls="mobile-menu"
  >
    <span class="sr-only">toggle navigation menu</span>
  </label>
  <div
    class="fixed top-0 transform flex items-center justify-start -translate-x-[110%] w-screen h-screen transition-transform bg-opacity-90 dark:bg-black bg-zinc-50"
    id="mobile-menu"
  >
    <ul class="w-full">
      {
        items.map((item) => {
          const path = "/" + item.toLowerCase();
          return (
            <li class="text-4xl">
              <a
                href={path}
                class={`dark:text-gray-300 text-gray-700 p-5 block mb-4 ${activeStyle(
                  pathname === path
                )}`}
              >
                {item}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</nav>
