---
const items = ["Channel", "Talks", "Writing", "About"]; //, 'Uses']
const activeStyle = (isActive: boolean) => (isActive ? "text-orange-500" : "");

const pathname = new URL(Astro.request.url).pathname;
---

<nav class="sm:hidden z-50 w-full bg-black py-3 fixed top-0">
  <div class="">
    <div class="">
      <input type="checkbox" id="menu-trigger" class="hidden" />
      <label
        for="menu-trigger"
        class="w-10 h-8 z-50 fixed top-3 left-3 inline-flex flex-col items-center justify-between rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        aria-controls="mobile-menu"
      >
        <span class="sr-only">toggle navigation menu</span>
      </label>
      <div
        class="fixed top-0 transform flex items-center justify-start -translate-x-[110%] w-screen h-screen transition-transform bg-opacity-90 bg-black"
        id="mobile-menu"
      >
        <ul class="w-full">
          {
            items.map((item) => {
              const path = "/" + item.toLowerCase();
              return (
                <li class="text-4xl">
                  <a
                    href={path}
                    class={`text-gray-300 p-5 block mb-4 ${activeStyle(
                      pathname === path
                    )}`}
                  >
                    {item}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
