---
const items = ["Channel", "Talks", "Writing", "About"]; //, 'Uses']
const activeStyle = (isActive: boolean) =>
  isActive ? "active-special-underline" : "";

const pathname = new URL(Astro.request.url).pathname;
---

<nav
  class="hidden sm:grid p-5 transition-colors grid-cols-[auto,1fr,auto] place-items-center max-w-screen text-slate-300"
>
  <a href="/" class="p-2 rounded-sm cta-hover-sm">
    <svg
      class="w-16 h-16"
      viewBox="0 0 268 236"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.39986 234.734C1.40613 234.729 1.4246 234.712 1.44368 234.681C1.4445 234.679 1.44532 234.678 1.44614 234.677L1.40963 234.66L0.535764 234.268C0.547198 234.239 0.560269 234.212 0.574655 234.186C3.69017 227.947 16.3616 200.827 38.5959 152.81L38.5961 152.81C49.7969 128.69 67.2209 90.6857 81.8451 58.7109C89.1572 42.7238 95.7691 28.2442 100.553 17.7614C102.945 12.52 104.88 8.27777 106.217 5.34593L107.756 1.96984L108.157 1.0918L108.259 0.868037L108.284 0.811569L108.291 0.797386L108.292 0.793833C108.293 0.793043 108.293 0.792648 108.748 1L108.293 0.792648L108.426 0.5H108.748H131.862H132.186L132.319 0.796175C156.025 53.8981 179.316 105.34 202.192 155.123L202.255 155.259L223.621 155.259C234.098 155.258 244.536 159.863 252.322 164.431C256.222 166.718 259.47 169.006 261.745 170.721C262.883 171.579 263.777 172.295 264.388 172.797C264.693 173.048 264.928 173.245 265.087 173.38C265.166 173.448 265.227 173.5 265.267 173.535L265.314 173.576L265.326 173.586L265.329 173.589L265.33 173.59C265.33 173.59 265.33 173.59 265 173.966L265.33 173.59L266.325 174.466H265H211.081C228.073 211.437 237.017 230.876 237.915 232.789C237.926 232.811 237.937 232.835 237.946 232.86L237.024 233.244C237.053 233.302 237.09 233.34 237.114 233.361C237.13 233.374 237.142 233.383 237.15 233.387C237.158 233.392 237.163 233.394 237.164 233.395C237.164 233.395 237.155 233.391 237.132 233.384C237.118 233.381 237.101 233.377 237.081 233.372C237.068 233.37 237.054 233.367 237.039 233.365C236.873 233.335 236.614 233.315 236.255 233.306C235.542 233.287 234.527 233.311 233.263 233.34L233.248 233.34C228.795 233.444 221.434 233.615 214.494 232.153C207.561 230.692 200.903 227.568 198.078 220.959L198.077 220.957C193.872 210.952 184.564 189.564 177.97 174.466H82.931H82.2906L82.446 173.844L82.931 173.966C82.446 173.844 82.446 173.844 82.4461 173.844L82.4464 173.843L82.4472 173.839L82.4502 173.827L82.4615 173.785C82.4713 173.748 82.4859 173.694 82.5055 173.625C82.5448 173.486 82.6043 173.285 82.6861 173.03C82.8499 172.521 83.1036 171.796 83.4652 170.928C84.1879 169.194 85.3448 166.879 87.0827 164.562C90.5648 159.919 96.3898 155.259 105.69 155.259L129.74 155.259L169.547 155.259L160.565 135.088L160.565 135.088L160.775 134.994C160.565 135.088 160.565 135.088 160.565 135.088L160.564 135.087L160.562 135.083L160.555 135.066L160.527 135.003L160.415 134.752L159.986 133.786C159.612 132.947 159.07 131.73 158.398 130.221C157.053 127.202 155.186 123.013 153.097 118.331C148.919 108.966 143.852 97.6324 140.296 89.7509C133.225 74.0759 125.802 57.6977 118.027 40.6164H117.957C111.94 53.6004 104.696 69.5631 96.2248 88.5048L96.2247 88.5048L36.4837 222.033C33.8777 227.885 28.2998 230.893 22.4132 232.473C16.531 234.053 10.234 234.236 6.02859 234.359L6.01106 234.359C4.59537 234.401 3.43227 234.435 2.59006 234.51C2.16747 234.548 1.84901 234.595 1.62977 234.651C1.52011 234.679 1.45308 234.705 1.41678 234.724C1.40803 234.729 1.40262 234.732 1.39986 234.734ZM1.39986 234.734C1.39827 234.735 1.39756 234.735 1.39761 234.735C1.39765 234.735 1.39845 234.735 1.39986 234.734ZM1.3909 234.61L1.46174 234.645C1.46173 234.645 1.46172 234.645 1.46171 234.645L1.39011 234.61L1.3909 234.61Z"
        fill="#ccc"></path>
    </svg>
    <span class="sr-only">Atila</span>
  </a>
  <ul
    class="grid grid-flow-col gap-x-10 px-3 place-items-center mx-auto text-xl overflow-x-auto max-w-[90%]"
  >
    {
      items.map((item) => {
        const path = "/" + item.toLowerCase();

        return (
          <li class="py-5">
            <a
              href={path}
              class={`rounded-sm  block py-2 text-center px-4 relative special-underline ${activeStyle(
                pathname === path
              )}`}
            >
              {item}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
