---
import ThemeToggler from "~/components/theme-toggler.astro";
import A from "./icons/a.astro";
const items = ["Channel", "Talks", "Writing", "About"]; //, 'Uses']
const activeStyle = (isActive: boolean) =>
  isActive ? "active-special-underline" : "";

const pathname = new URL(Astro.request.url).pathname;
---

<nav
  class="hidden sm:grid p-5 transition-colors grid-cols-[auto,1fr,auto] place-items-center max-w-[90rem] mx-auto dark:text-slate-300"
>
  <a href="/" class="p-2 rounded-sm cta-hover-sm">
    <A class="w-16 h-16" />
    <span class="sr-only">Atila</span>
  </a>
  <ul
    class="grid grid-flow-col gap-x-10 px-3 place-items-center mx-auto text-xl overflow-x-auto max-w-[90%]"
  >
    {
      items.map((item) => {
        const path = "/" + item.toLowerCase();

        return (
          <li class="py-5">
            <a
              href={path}
              class={`rounded-sm  block py-2 text-center px-4 relative special-underline ${activeStyle(
                pathname === path
              )}`}
            >
              {item}
            </a>
          </li>
        );
      })
    }
  </ul>
  <ThemeToggler />
</nav>
