---
const gradient = (pageName?: string) => {
  switch (pageName) {
    case "appearances":
      return "from-teal-300 via-blue-300 to-purple-300";
    case "projects":
      return "from-cyan-300 via-indigo-300 to-fuchsia-300";
    case "channel":
      return "from-green-500 via-teal-300 to-lime-500";
    case "about":
      return "from-rose-300 via-blue-300 to-purple-300";
    case "writing":
      return "from-orange-300 via-yellow-300 to-yellow-300";
    case "uses":
      return "from-yellow-300 via-yellow-300 to-yellow-300";
    default:
      return "from-blue-300 via-indigo-300 to-purple-300";
  }
};

const pathname = new URL(Astro.request.url).pathname;
const page = pathname.substring(1);
const { title } = Astro.props;
---

<div class={`py-4 mt-12 animate-blur-in`}>
  <h1
    class={`text-6xl text-transparent bg-clip-text safari-gradient-text bg-gradient-to-br ${gradient(
      page
    )} `}
  >
    {title}
  </h1>
</div>
