---
const gradient = (pageName?: string) => {
  switch (pageName) {
    case "talks":
      return "dark:from-teal-300 dark:via-blue-300 dark:to-purple-300 from-teal-600 via-blue-400 to-purple-600";
    case "projects":
      return "from-cyan-300 via-indigo-300 to-fuchsia-300";
    case "channel":
      return "from-green-500 dark:via-teal-300 via-teal-600 to-lime-500 ";
    case "about":
      return "dark:from-rose-300 dark:via-blue-300 dark:to-purple-300 from-rose-600 via-blue-500 to-purple-700";
    case "writing":
      return "from-orange-300 dark:via-yellow-300 dark:to-yellow-300 via-yellow-500 to-yellow-700";
    case "uses":
      return "from-yellow-300 via-yellow-300 to-yellow-300";
    default:
      return "from-blue-300 via-indigo-300 to-purple-300";
  }
};

const pathname = new URL(Astro.request.url).pathname;
const page = pathname.substring(1);
const { title } = Astro.props;
---

<div class={`py-4 mt-12 animate-blur-in`}>
  <h1
    class={`text-6xl text-transparent bg-clip-text safari-gradient-text bg-gradient-to-br ${gradient(
      page
    )} `}
  >
    {title}
  </h1>
</div>
