---
import Youtube from "~/components/icons/youtube.astro";
import Twitter from "~/components/icons/twitter.astro";
import Github from "~/components/icons/github.astro";
import Linkedin from "~/components/icons/linkedin.astro";
import Mastodon from "~/components/icons/mastodon.astro";
---

<footer class="animate-slide-up">
  <ul class="flex flex-row justify-center gap-8 text-2xl mx-auto pb-8">
    <li>
      <a
        class=""
        href="https://twitter.com/atilafassina"
        rel="me noopener noreferrer"
      >
        <Twitter
          class="dark:text-zinc-400 text-zinc-700 w-6 h-6 dark:hover:text-cyan-200 dark:focus:text-cyan-200 hover:text-cyan-600 focus:text-cyan-600 transform translate-y-0 hover:-translate-y-1 hover:scale-105 focus:-translate-y-1 focus:scale-105 transition-all"
        />
        <span class="sr-only">twitter</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/atilafassina" rel="me noopener noreferrer">
        <Github
          class="dark:text-zinc-400 text-zinc-700 w-6 h-6 dark:hover:text-white dark:focus:text-white hover:text-black focus:text-black transform translate-y-0 hover:-translate-y-1 hover:scale-105 focus:-translate-y-1 focus:scale-105 transition-all"
        />
        <span class="sr-only">github</span>
      </a>
    </li>
    <li>
      <a href="https://atila.io/youtube" rel="noopener noreferrer">
        <Youtube
          class="w-6 h-6 dark:text-zinc-400 text-zinc-700 dark:hover:text-red-300 dark:focus:text-red-300 hover:text-red-600 focus:text-red-600 transform translate-y-0 hover:-translate-y-1 hover:scale-105 focus:-translate-y-1 focus:scale-105 transition-all"
        />
        <span class="sr-only">youtube</span>
      </a>
    </li>
    <li>
      <a rel="me noopener noreferrer" href="https://atila.io/mastodon">
        <Mastodon
          class="w-6 h-6 dark:text-zinc-400 text-zinc-700 hover:text-purple-600 focus:text-purple-600 dark:hover:text-purple-300 dark:focus:text-purple-300 transform translate-y-0 hover:-translate-y-1 hover:scale-105 focus:-translate-y-1 focus:scale-105 transition-all"
        />
        <span class="sr-only">Mastodon</span>
      </a>
    </li>
    <li>
      <a rel="me noopener noreferrer" href="https://atila.io/linkedin">
        <Linkedin
          class="dark:text-zinc-400 text-zinc-700 w-6 h-6 dark:hover:text-blue-300 dark:focus:text-blue-300 hover:text-sky-500 focus:text-sky-500 transform translate-y-0 hover:-translate-y-1 hover:scale-105 focus:-translate-y-1 focus:scale-105 transition-all"
        />
        <span class="sr-only">LinkedIn</span>
      </a>
    </li>
  </ul>
</footer>
