---
const { url } = Astro.props;
---

<a
  href={url}
  rel="noopener noreferrer"
  target="_blank"
  title="check the slides"
  class="talk-resources text-zinc-500 hover:text-white focus:text-white"
>
  <slot />
  <span role="img" aria-hidden class="relative inline text-xs -top-2 left-1">
    ↗
  </span>
</a>
