@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus,
  *:focus::before,
  *:focus::after {
    @apply outline-1 outline-indigo-300 outline-dotted;
  }

  @keyframes bkg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .bg-dark {
    background: theme(colors.black)
      linear-gradient(
        45deg,
        theme(colors.zinc.800),
        theme(colors.black),
        theme(colors.stone.800)
      );
  }

  .bg-dotted {
    --bg-color: theme(colors.zinc.100);
    --dot-color: theme(colors.zinc.400);
    background: linear-gradient(90deg, var(--bg-color) 21px, transparent 1%)
        center,
      linear-gradient(var(--bg-color) 21px, transparent 1%) center,
      var(--dot-color);
  }

  ::-webkit-scrollbar {
    @apply bg-transparent w-0.5 h-px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-100;
  }

  p {
    @apply max-w-prose;
  }

  ::selection {
    -webkit-text-fill-color: theme("colors.slate.800");
    @apply bg-orange-300  text-slate-800;
  }
}

@layer components {
  .cta-hover-md {
    @apply hover:scale-125 focus:scale-125 ease-in-out duration-300;
  }

  .cta-hover-sm {
    @apply hover:scale-110 focus:scale-105 ease-in-out duration-300;
  }

  .talk-resources span {
    @apply inline-block transform translate-x-0 translate-y-0 transition-transform;
  }

  .talk-resources:hover span,
  .talk-resources:focus span {
    @apply transform translate-x-1 -translate-y-1;
  }

  .special-underline::after {
    content: "";
    border-color: currentColor;
    margin-top: calc(1em + 15px);
    @apply absolute left-0 inline-block w-full border-b-[1px] opacity-0 scale-0 transition-all duration-300;
  }

  .active-special-underline::after,
  .special-underline:hover::after {
    @apply scale-100 opacity-100;
  }

  .safari-gradient-text {
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }
}

input:checked ~ #mobile-menu {
  @apply translate-x-0;
}

label[aria-controls="mobile-menu"]::before,
label[aria-controls="mobile-menu"]::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: theme(colors.zinc.900);
  transition: transform 250ms linear;
  transform-origin: center;
}

.dark label[aria-controls="mobile-menu"]::before,
.dark label[aria-controls="mobile-menu"]::after {
  background-color: theme(colors.zinc.200);
}

input:checked + label[aria-controls="mobile-menu"]::before {
  transform: rotate(45deg) translateY(0.5rem);
}
input:checked + label[aria-controls="mobile-menu"]::after {
  transform: rotate(-45deg) translateY(-0.5rem);
}

html:has(input:checked) {
  overflow: hidden;
}
